<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Include the css here -->
  <link rel="stylesheet" href="http://127.0.0.1:5000/static/adjustSize.css">
  <link rel="stylesheet" href="http://127.0.0.1:5000/static/primary.css">
  <link rel="stylesheet" href="http://127.0.0.1:5000/static/splitScreen.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One" rel="stylesheet" />
  <link rel="stylesheet" href="http://127.0.0.1:5000/static/style.css" />
</head>

<body>
  <header>
    <h1>Homepage</h1>
    <h2>Catch Up with Friends!</h2>
  </header>

  <!-- nav bar html sub the # for the rendered html pages for the drop down menu-->
  <nav>
    <div class="dropdown" style="float:right;">
      <button class="dropbtn">Dropdown</button>
      <div class="dropdown-content">
        <a href="#">Homepage</a>
        <a href="#">My Code Page</a>
        <a href="#">Log Out</a>
      </div>
    </div>

    <div class="theme-switch">
      <input type="checkbox" class="checkbox" id="checkbox" />
      <label for="checkbox" class="label">
        <ion-icon name="partly-sunny-outline" class="sun"></ion-icon>
        <ion-icon name="moon-outline" class="moon"></ion-icon>
        <div class="switcher"></div>
      </label>
    </div>

  </nav>
  <section>
    <!--sections off each portion-->
    <article>
      <!-- where the circle html goes-->
      <h3> Click on your inner circles' circle</h3>
      <!-- <div class="split left">-->
      <div class="centered" id="container">
        <!--       <h2>Demo</h2>-->
        <!-- here is the HTML of the circle, assign it an id and add it a circle class -->
        <div id="circles"></div>


        <!--<div class="split right">-->
        <div class="centered">
          <h2>Type your Friends' CatchUp code!</h2>
          <label>
            <textarea id="input" maxlength="100" placeholder="Type your pals code!"></textarea>
            <br>
            <button class="button" id="button"><span>Add</span></button>
          </label>
        </div>
    </article>
  </section>


  <form method="post" action="{{ url_for('add_friend') }}">
    <label for="friend_code">Enter friend's code:</label>
    <input type="text" name="friend_code" id="friend_code">
    <input type="submit" value="Add Friend">
  </form>










  <!--add circle html here-->
  <h4>{{ current_user }}</h4>

  <!--Should print friends below VVV-->

  <body>
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Code</th>
        </tr>
      </thead>
      <tbody>
        {% for friend in friends %}
        <tr>
          <td>{{ friend.username }}</td>
          <td>{{ friend.code }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
  </article>
  </section>





  <!--replace the paragraph with the liscencing footer -->
  <footer>&copy;2023. All Rights Reserved</footer>
  <script src="script.js"></script>
  <!-- Include the js here -->

  <script>
    const checkbox = document.querySelector("#checkbox");

    checkbox.addEventListener("change", () => {
      // Toggle website theme
      document.body.classList.toggle("dark");
    });
  </script>
  <script src="adjustSize.js"></script>
  <!-- Include the js here -->
  <script>
    "use strict";

    /*
    * Adjust the size of a circle (div) so that the contained text (span)
    * is inside the circle.
    * 
    *
    * circle: the id of circle in DOM or circle HTML Node
    * */
    function adjustSize(circle) {
      // all the units are in rem
      // following two variables are customisable

      // minimum radius of circle
      let minRadius = 1;

      // more iteration, more accurate, slower
      const maxIteration = 200;


      if (typeof circle === 'string') {
        // find circle by given circle ID
        // otherwise it need to be a circle
        circle = document.getElementById(circle);
      }

      const text = circle.children[0];

      let maxRadius = 10;

      // a rough max bound for maximum radius that fit the text
      while (true) {
        // update DOM size
        const sideLength = (2 * maxRadius) + 'rem';
        circle.style.width = sideLength;
        circle.style.height = sideLength;
        circle.style.borderRadius = maxRadius + 'rem';

        const circleBottom = circle.offsetTop + circle.offsetHeight;
        const textTop = text.offsetTop;
        const textBottom = text.offsetTop + text.offsetHeight;
        // text is completely inside circle in DOM
        const isSizeFit = textTop < circleBottom && textBottom < circleBottom;
        if (isSizeFit) {
          break;
        } else {
          maxRadius *= 2;
        }
      }

      let iterationCount = 0;

      // iterations to find a fit in a binary search manner
      while (true) {
        // update DOM size
        const currentRadius = (maxRadius + minRadius) / 2;
        const sideLength = (2 * currentRadius) + 'rem';
        circle.style.width = sideLength;
        circle.style.height = sideLength;
        circle.style.borderRadius = currentRadius + 'rem';

        const circleBottom = circle.offsetHeight;
        const textTop = text.offsetTop;
        const textBottom = text.offsetTop + text.offsetHeight;
        // text is completely inside circle in DOM
        const isSizeFit = textTop < circleBottom && textBottom < circleBottom;
        if (isSizeFit) {
          if (iterationCount > maxIteration) {
            // fit and accurate enough, stop
            break;
          } else {
            // fit but can be more small, decrease max
            maxRadius = currentRadius;
          }
        } else {
          // too small, increase min
          minRadius = currentRadius;

          // in some cases it causes infinite loop using only binary search
          // because the lower fit might be omitted by halving radius
          // so slightly increase it will solve the problem.
          maxRadius *= 1.01;
        }
        ++iterationCount;
      }
    }

    /*
    * Make a circle wrapping the content.
    * can append to your HTML whenever you want
    *
    * content: the text to show in the circle
    * return: HTML Node of the circle
    * */
    function makeCircle(content) {
      // create elements
      const circle = document.createElement('div');
      const text = document.createElement('span');

      circle.classList.add('circle');
      circle.appendChild(text);
      text.innerHTML = content;

      // when circle is appended to HTML, adjust its size
      // use higher order function here will cause IE to crash
      circle.addEventListener('DOMNodeInserted', function () { adjustSize(circle) });
      return circle;
    }

  </script>
  <script src="http://127.0.0.1:5000/templates/circleCollision.js"></script>
  <!-- Include the js here -->
  <script>


  </script>
  <!--&lt;!&ndash; here goes your js to call adjustSize &ndash;&gt;-->
  <script src="input.js"></script>
  <!-- Include the js here -->
  <script>
    circleManager = new CircleManager('circles');
    circleManager.add("Friend 1!!!!");
    circleManager.add("Person 2!!");
    circleManager.add("Friend 3", 1000);
    circleManager.add("Person 4!!!", 2000);
    circleManager.add("Friend 5!!!!!", 5000);
    circleManager.add("Person 6!", 10000);
    circleManager.add("Friend 7!!!", 20000);

    document.getElementById('button').onclick = () => {
      const input = document.getElementById('input');
      const text = input.value;
      input.value = "";
      if (text) {
        circleManager.add(text);
      }
    }

  </script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</body>

</html>