<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One" rel="stylesheet" />
  <link rel="stylesheet" href="http://127.0.0.1:5000/static/style.css" />
</head>

<body>

  <header>
    <h1>Homepage</h1>
    <h2>Catch Up with Friends!</h2>
  </header>
  <!-- nav bar html sub the # for the rendered html pages for the drop down menu-->
  <nav>
    <div class="dropdown" style="float:right;">
      <button class="dropbtn">Dropdown</button>
      <div class="dropdown-content">
        <a href="#">Homepage</a>
        <a href="#">My Code Page</a>
        <a href="#">Friend Code Page</a>
        <a href="#">Log Out</a>
      </div>
    </div>

  </nav>
  <section><!--sections off each portion-->
    <article><!-- where the circle html goes-->
      <h3> Click on your inner circles' circle</h3>
      <!--add circle html here-->
      <h4>{{ current_user }}</h4>

      <!--Should print friends below VVV-->
      <body>
        <table>
          <thead>
            <tr>
              <th>Username</th>
              <th>Code</th>
            </tr>
          </thead>
          <tbody>
            {% for friend in friends %}
            <tr>
              <td>{{ friend.username }}</td>
              <td>{{ friend.code }}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
      </body>
    </article>
  </section>





  <!--replace the paragraph with the liscencing footer -->
  <div class="footer">
    <p>Footer</p>
  </div>
</body>

</html>