<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One" rel="stylesheet" />
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/style.css" />
</head>

<body>
    <!--
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <b>{{message}}</b>
    {% endfor %}
    {% endif %}
    {% endwith %}
-->
    <header>
        <h1>CatchUp</h1>
        <h3>My Code Page</h3>
    </header>
    <nav>
        <div class="dropdown" style="float:right;">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
                <a href="#">Homepage</a>
                <a href="/mycodepage">My Code Page</a>
                <a href="#">Log Out</a>
            </div>
        </div>

        <div class="theme-switch">
            <input type="checkbox" class="checkbox" id="checkbox" />
            <label for="checkbox" class="label">
                <ion-icon name="partly-sunny-outline" class="sun"></ion-icon>
                <ion-icon name="moon-outline" class="moon"></ion-icon>
                <div class="switcher"></div>
            </label>
        </div>

    </nav>
    <main>
        <div class="box">
            <h3>Copy and paste this code to connect with loved ones!</h3>
            <div class="code-container">
                <label>Your Code: {{ userCode }}</label>
                <input type="text" name="code" value="" required />
            </div>
        </div>
        <!--   <div class="box">
      <h3>Copy and paste this code to connect with loved ones!</h3>
      
  <form method="POST" action="/signup_check">
    <input type="text" name="user_id" id="user_id" placeholder="Username" />
    <input type="password" name="" placeholder="Password" />
    <input type="submit" value="Sign Up" />
  </form>
    -->
    </main>
    <footer>&copy;2023. All Rights Reserved</footer>
    <script>
        const checkbox = document.querySelector("#checkbox");

        checkbox.addEventListener("change", () => {
            // Toggle website theme
            document.body.classList.toggle("dark");
        });
    </script>
    <script src="script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</body>

</html>